.home {
  background-image: linear-gradient(
    to right bottom,
    var(--color-primary-bg),
    var(--color-secondary-bg)),
    url(./images/bg.jpg);
  background-size: cover;
  color: #fff;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.main {
  display: flex;
  flex-direction: column;
  margin-left: 7rem;
  animation: moveInLeft 2s;


  &__title {
    font-size: 10rem;
    letter-spacing: 1rem;
    text-transform: uppercase;

    @include respond(phone) {
      font-size: 4rem;
      letter-spacing: 1px;
      margin-bottom: 3rem;
    }


  }
  &__title-sub {
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: .3rem;
    font-weight: 100;

    @include respond(phone) {
      width: 80%;
      letter-spacing: 2px;
    }
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  margin-top: 3rem;
  padding: 1.5rem 4rem;
  border-radius: 10rem;
  border: 2px solid #fff;
  text-decoration: none;
  cursor: pointer;
  width: 20rem;
  color: #fff;
  background-color: transparent;
  transition: all .2s;
  box-shadow: 0 1rem 2rem  rgba(0, 0, 0, .2);

  @include respond(phone) {
    padding: .5rem 2rem;
    width: 20rem;
    font-size: 1.5rem;
  }
  

  &:hover {
    background-color: #fff;
    color: rgba(61, 61, 61, 0.822);
    transform: scale(1.1);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .5);
  }

  &:active {
    transform: translateY(-.1rem);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .3);
  }
}

.links-container {
  @include respond(phone) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.links {
  background-color: transparent;
  border-radius: 50%;
  border: none;
  width: 7rem;
  display: block;
  margin: 3rem;
  transition: all .5s;
  animation: moveInRight 2s;

  @include respond(phone) {
    width: 3rem;
  }



  &:hover {
    transform: translateY(-1rem);
    cursor: pointer;
    @include respond(phone) {
    transform: none;
    }
  }

  path {
      fill: white;
      transition: all .2s;
  }
}
