
:root {
  --color-dark: #1c1d25;

  --color-primary: rgb(84, 197, 99);

  --color-primary-dark: rgb(81, 185, 95);

  --color-secondary:rgb(79, 137, 212);
 
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after{
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  
}