.header {
  padding: 1.5rem 0;
  font-size: 1.5rem;
  background-color: rgba(80, 84, 105, 0.226);
  top: 0;
  right: 0;
  position: fixed;
  display: flex;
  flex-direction: row-reverse;
  width: 100%;

  @include respond(phone) {
   display: flex;
   justify-content: center;
  }

}

.header-nav {
  padding: 0 5rem;
  &__link{
    margin: 0 5rem;
    text-decoration: none;
    color: #fff;
  }
}